/* Import Google Font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.MemoBody {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #6563ff;
}
.wrapper {
  padding: 25px;
  border-radius: 10px;
  background: #f8f8f8;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}
.MemoCards,
.MemoCard,
.view {
  display: flex;
  align-items: center;
  justify-content: center;
}
.MemoCards {
  height: 400px;
  width: 400px;
  flex-wrap: wrap;
  justify-content: space-between;
}
.MemoCards .MemoCard {
  cursor: pointer;
  list-style: none;
  user-select: none;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
  height: calc(100% / 4 - 10px);
  width: calc(100% / 4 - 10px);
}
.MemoCard.shake {
  animation: shake 0.35s ease-in-out;
}
@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-13px);
  }
  40% {
    transform: translateX(13px);
  }
  60% {
    transform: translateX(-8px);
  }
  80% {
    transform: translateX(8px);
  }
}
.MemoCard .view {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 7px;
  background: #fff;
  pointer-events: none;
  backface-visibility: hidden;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.25s linear;
}
.MemoCard .front-view img {
  width: 19px;
}
.MemoCard .back-view img {
  max-width: 45px;
}
.MemoCard .back-view {
  transform: rotateY(-180deg);
}
.MemoCard.flip .back-view {
  transform: rotateY(0);
}
.MemoCard.flip .front-view {
  transform: rotateY(180deg);
}

@media screen and (max-width: 700px) {
  .MemoCards {
    height: 350px;
    width: 350px;
  }
  .MemoCard .front-view img {
    width: 17px;
  }
  .MemoCard .back-view img {
    max-width: 40px;
  }
}

@media screen and (max-width: 530px) {
  .MemoCards {
    height: 300px;
    width: 300px;
  }
  .MemoCard .front-view img {
    width: 15px;
  }
  .MemoCard .back-view img {
    max-width: 35px;
  }
}
