.navbar {
  box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.1);
}

.container-nav {
  height: 70px;
  background-color: transparent;
  font-family: "inter";
  font-weight: 500;
  padding: 0 24px;
  transition: all 0.3s ease;
}

.logo {
  width: 80px;
}

.container-nav .fungsi a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.container-nav .btn button {
  border: none;
  background-color: transparent;
  padding: 12px 22px;
  outline: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 12px;
  color: white;
}

@media (max-width: 640px) {
  .navbar {
    box-shadow: none;
  }

  .container-nav.active {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(3px);
    height: 150px;
  }

  .fungsi {
    gap: 10px;
    position: absolute;
    top: 15px;
    right: 80px;
    width: max-content;
    transition: all 0.3s ease-out;
    visibility: hidden;
    opacity: 0;
  }

  .fungsi.active {
    visibility: visible;
    opacity: 1;
  }

  .container-nav .fungsi a {
    background-color: white;
    padding: 8px 12px;
    font-size: 12px;
    font-weight: bold;
    width: 110px;
    position: relative;
    color: black;
  }

  .burger {
    background-color: white;
    transition: all 0.2s ease-in-out;
  }

  .burger.active {
    top: 50px;
  }
  .line {
    width: 24px;
    height: 2px;
    background-color: black;
  }

  .btn {
    position: absolute;
    left: -100px;
    top: 2rem;
    opacity: 0;
    color: black;

    transition: all 0.3s ease-in;
  }

  .btn.active {
    left: 12px;
    opacity: 1;
  }
}
