.navbar {
  border-bottom: 1px solid rgba(149, 149, 149, 0.4);
}

.container-nav {
  height: 70px;
  background-color: transparent;
  font-family: "inter";
  font-weight: 500;
}

.container-nav .fungsi a {
  /* color: black; */
  text-decoration: none;
  cursor: pointer;
}

.container-nav .btn button {
  border: none;
  background-color: transparent;
  padding: 12px 22px;
  outline: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 12px;
}

@media (max-width: 600px) {
  .navbar {
    border: none;
  }

  .fungsi {
    gap: 10px;
    position: absolute;
    top: 15px;
    right: 80px;
    width: max-content;
    transition: all 0.3s ease-out;
    visibility: hidden;
    opacity: 0;
  }

  .fungsi.active {
    visibility: visible;
    opacity: 1;
  }

  .container-nav .fungsi a {
    background-color: white;
    padding: 8px 12px;
    font-size: 12px;
    font-weight: bold;
    width: 110px;
    position: relative;
  }

  .burger {
    background-color: white;
    transition: all 0.2s ease-in-out;
  }

  .burger.active {
    top: 50px;
  }
  .line {
    width: 24px;
    height: 2px;
    background-color: black;
  }
}
