.home {
  min-height: 100dvh;
  background: hsla(20, 100%, 63%, 1);

  background: linear-gradient(
    45deg,
    hsla(20, 100%, 63%, 1) 0%,
    hsla(0, 0%, 94%, 1) 100%
  );

  background: -moz-linear-gradient(
    45deg,
    hsla(20, 100%, 63%, 1) 0%,
    hsla(0, 0%, 94%, 1) 100%
  );

  background: -webkit-linear-gradient(
    45deg,
    hsla(20, 100%, 63%, 1) 0%,
    hsla(0, 0%, 94%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FF8343", endColorstr="#F0F0F0", GradientType=1 );
}
